// App Catch All 

.header {
  background-color: $brand-blue;
  padding: 20px;
  color: white;
  text-align: left;
}
.header-title {
  margin-top: 0;
  margin-bottom: 0;
}

// Intro 
.intro {
  padding-top: $spacer * 3.5;
  padding-bottom: $spacer * 3.5;
  text-align: center;
}
.intro-subtitle {
  color: $ak-color-N90;
}

// Container
.container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}