//
// Content Body 
//

// Wrap 
.content-body {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: $spacer * 3;
}

// Sidebar
.content-sidebar {
  flex: 1 0 auto;
  max-width: 30%;
}
.sidebar-headline {
  padding-left: $spacer;
  padding-bottom: $spacer * 1.5;
}
.sidebar-item {
  border-top: $default-border;
  padding: $spacer;

  &.active {
    background-color: $ak-color-N20;
  }

  &:last-of-type {
    border-bottom: $default-border;
  }
}
.sidebar-item-headline {
  margin-bottom: 0;
}
.sidebar-item-meta {
  color: $ak-color-N90;
}

// Post
.content-post {
  padding: $spacer * 2.5;
}
.post-headline {
  font-size: $spacer * 2.5;
}
.post-author span { 
  color: $ak-color-N90;  
}

