.tabs {
  display: flex;
  border-bottom: 3px solid $ak-color-N30;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tab {
  background-color: $ak-color-N20;
  border-top: $default-border;
  border-left: $default-border;
  display: inline-block;
  font-weight: 500;
  padding: $spacer;
  transition: background-color .25s ease-in-out;

  &:first-of-type {
    border-top-left-radius: $spacer / 4;
  }

  &:last-of-type {
    border-top-right-radius: $spacer / 4;
    border-right: 2px solid $ak-color-N30;
  }

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: #fff;
    border-bottom: 4px solid white;
    margin-top: -3px;
    transform: translateY(3px);
  }
}