//
// Variables
//

// Colors
// Porting from less files from atlaskit 
$brand-blue: #0052CC;
$ak-color-N20: #F4F5F7;
$ak-color-N30: #EBECF0;
$ak-color-N50: #C1C7D0;
$ak-color-N90: #8993A4;

// Transition
$default-transition: all .3s ease-in-out;

// Spacer
$spacer:  1rem !default;

// Border 
$default-border: 2px solid $ak-color-N30;